@import "client/lib/custom.bootstrap.import.less";
@import "client/lib/custom.bootstrap.mixins.import.less";
@import "mixins.import.less";
@import "transition_groups.import.less";

// TRANSITION EVERYTIHNG
* { .transition(all 0.3s ease-in-out); }

.btn-facebook {
  .button-variant(@btn-facebook-color; @btn-facebook-bg; @btn-facebook-border);
}


// BEGIN MAIN
#main-content {
  .full-absolute();
  top: @navbar-height;
}

.game-board {
  .full-absolute();
  overflow: hidden;
  background-color: @color-water;
  cursor: default;

  * { .user-select(none); }
}

.game-perspective {
  .full-absolute();
  .perspective(2000px);
  .transform(scaleX(0.8) translateY(15%)); // Compensate for transform

  .game-tiles {
    position: absolute;
    top: 50%;
    left: 50%;
    .transform(rotateX(50deg));
  }
}

.game-lily-wrapper {
  display: block;
  position: absolute;
  .perspective(200px);
}

.lily-square {
  position: absolute;
  width: 94%;
  height: 94%;
  margin: 3%;
  background-color: @color-lily-default;
  display: block;
  border-radius: 35%;
  cursor: move;
  border: 2px solid fade(black, 30%);
  .transition(all 0.4s ease-in-out);

  &.hover,
  &.moving-occupant {
    z-index: 999999;
    .transform(translateZ(10px));
    .box-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
  }

  &.grab {
    z-index: 999999;
    .transform(translateZ(12px) rotateZ(-4deg));
  }

  &.moving-occupant {
    z-index: 1000000;
    background-color: @color-lily-dark;
  }

  &.with-occupant {
    &[data-occupant-skin="1"] {
      background-color: @color-lily-1;
    }

    &[data-occupant-skin="2"] {
      background-color: @color-lily-2;
    }
  }

  .lily-occupant {
    display: block;
    position: relative;
    width: 100%;
    top: 50%;
    font-size: 16px;
    margin-top: -9px;
    text-align: center;
  }
}
